
.board-header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
.board-title{
  display: inline-block;
      margin-block-start: 0;
    margin-block-end: 0;
}
.board-nav{
  width: fit-content;
  margin: 0;
}
}

.board-body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0 .5rem;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 1280px;


}




.board-add-list{
  display:flex;
  justify-content: center;
.button-add-list{
  margin: 0.5rem;
  max-height: 50px;

  
}
}
