
.board-header{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;

  .board-title{
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .board-nav{
    width: fit-content;
    margin: 0;
  }
}

.board-body{
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 1200px;
  padding: 1rem .5rem;
  margin: 0 auto;

}




.board-add-list{
  display:flex;
  justify-content: center;
  .button-add-list{
    margin: 0.5rem;
    max-height: 50px;
 
  }
}
