.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.board-header {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  .board-title {
    display: inline-block;
    margin-right: auto;
  }

  .board-nav {
    width: 100%;
    align-items: center;
  }
}

.board-body {
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 1200px;
  padding: 1rem 0.5rem;
  margin: 0 auto;
}

.board-add-list {
  display: flex;
  justify-content: center;

  .button-add-list {
    margin: 0rem;
    max-height: 50px;
  }
}
