
.board-column{
  
  width: 280px;
  min-width: 280px;
  height: 100%;
  

  .column-name{
    padding: .5rem;
    background-color: rgb(32, 208, 220);

    .column-title{
      display:flex;
      justify-content: space-between;
      h3{
        text-transform: uppercase;
        line-height: 32px;
      }
    }

    }


  .tasks-list{
  position: relative;
  margin: 10px 0;
  overflow-y:auto;
  max-height: calc(100vh - 400px);
  padding: 0 5px;

}

}
