
.board-column{
  
  width: 280px;
  min-width: 280px;
  height: 100%;
  padding: 15px;

  .tasks-list{
  position: relative;
  margin: 10px 0;
  overflow-y:auto;
  max-height: calc(100vh - 400px);
  padding: 0 5px;

}

}
