.footer {
  padding: 8px;
  margin-top: auto;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #535353;
  color: #fafafa;

  .icon-rsschool {
    height: 30px;
    width: 100px;
  }

}
