.footer {
  position: sticky;
  padding: 8px;
  margin-top: auto;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #424242;
  color: #cfcfcf;
  //  bottom: 0;
  //  padding: 5px;
  //  background-color: #1976d2;
  //  min-height: 48px;
  //  max-height: 64px;
  //  display: flex;
  //  justify-content: space-between;
  //  width: 100%;
  //
  .footer-link {
    color: #fff;
  }

  //  .footer-year{
  //    color: #fff;
  //  }
  //  a{
  //    color: #fff;
  //  }
  .icon-rsschool {
    height: 30px;
    width: 100px;
  }

  //
}

//
